body {
    margin: 0;
    padding: 30px 0;

}


.cakes header {
    padding: 5px 0;
}

.cakes-hero .container {
    padding: 0;
}

.carousel {
    padding-left: 0%;
    padding-right: 0%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-item img {
    width: 100%;
    height: 730px;
    object-fit: cover;
}

/* ハンバーガーメニュー */

.navbar-brand {
    font-family: "Merriweather", sans-serif !important;
    font-style: italic;
    color: rgb(236, 204, 19);

}

/* heroメニュー */

.hero-title,
.hero-text {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    white-space: nowrap;
}

.carousel-caption {
    bottom: 20%;
    left: 75%;
    transform: translateX(-50%);
    text-align: center;
    z-index: relative;
}

/* メニュー表示 */

.page-menu.fixed-top {
    top: 56px;
    background-color: rgba(255, 255, 255, 1.0);
    border-bottom: 1px solid #ddd;
}

.page-menu .col-4 a {
    display: block;
    padding: 15px;
    line-height: 1.2;
}

.page-menu a {
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    color: #432818;
}

/* heroセクション */

.hero-title {
    font-family: "Merriweather", sans-serif !important;
    font-style: italic;
    color: #efe5dc;
}

.hero-text {
    color: #efe5dc;
}

.cakes-hero img {
    height: 80vh;
    object-fit: cover;
}

/* ランキングシャドウに影をつける */

.cake-card {
    border: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.cake-card:hover {
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px);
}


/* mainセクション */
/* スクロールの高さ調節 */

#cakes-ranking {
    margin: 20px !important;
    scroll-margin-top: 120px;
}

/* スクロールを滑らかにする */
html {
    scroll-behavior: smooth;
}


.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    transition: 1s;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

.section-title {
    text-align: center;
    margin: 10px !important;
}

.card-text {
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: left;
}

.card-text1 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 0.5rem;
    text-align: center;
}

.card img {
    transition: all 0.9s ease-in;
    height: 260px;
    object-fit: cover;

}

/* アクセスセクション */

.access {
    margin-bottom: 5%;
}

.access-map iframe {
    border-radius: 8%;
    width: 500px;
    height: 450px;
}

.access .row {
    align-items: stretch;
}


/* フッターメニュー */

.footer-logo {
    font-family: "MyCustomFont", sans-serif !important;
}

.footer-info {
    text-align: center;
}




/* ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
/* チョコレートケーキ */
/* ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */

/* ヒーロー画像 */

.main-Visual {
    position: relative;
    background-image: url('images/pexels-alexander-dummer-37646-132694.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    padding: 10px 60px 30px 40px;
    justify-content: flex-end;
    align-items: flex-end;
    color: rgb(252, 251, 248);
    font-size: 50px;
    font-weight: bold;
}

/* メインカード */

.card-img-wrap {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.card-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 枠いっぱいにトリミング */
}

.card2 img {
    object-position: center -50px;
}

.card {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.gateau-page .card-img-top {
    transition: transform 0.6s ease;
}

.gateau-page .card:hover .card-img-top {
    transform: scale(1.15);
}

.footer p {
    margin-top: 50px;
    margin-bottom: 1rem;
}

/* 画像モーダル */

#image-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* モーダル画像 */

#image-modal img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}


/* ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
　　　　　　　　　会社概要
＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
header.company {
    padding: 0;
}

body.company {
    background-color: #dbbfae;
}

.company-visual {
    position: relative;
    background-image: url('images/pexels-arunbabuthomas-8211309.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    padding: 10px 60px 30px 40px;
    justify-content: center;
    align-items: center;
    color: rgb(252, 251, 248);

}

.company-visual h1 {
    max-width: 320px;
    width: 100%;
    position: relative;
    text-align: left;
    z-index: 2;
    margin: 0 auto;
    margin-top: 80px;
    font-family: BIZ UDP明朝;
    font-size: 22px;
    color: #fefae0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

.company-visual-show h1 {
    opacity: 1;
    transform: translateY(0);
}

/* company h1 デフォルトでは改行しない */
.sp-br {
    display: inline;
}

.company-text {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.8;
}

.company-visual::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.25));
    z-index: 1;
}

.company-abt {
    padding-top: 80px;
    text-align: center;
}

.company-abt p {
    font-size: 20px;
    line-height: 1.8
}

.company-name {
    font-family: "Merriweather", sans-serif;
    font-style: italic;
}

.company-footer {
    display: flex;
    margin-top: 200px;
}


/* 地図 */

.map-wrap {
    width: 100%;
    height: 450px;
}

.map-wrap iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* *********************************
             スマホ
********************************* */

@media(max-width: 768px) {
    .company-visual {
        height: 400px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .company-visual h1 {
        width: 100%;
        margin: 0;
        font-size: 15px;
        font-weight: 800;
        text-align: left;
    }

     .sp-br {
        display: block;
    }

    .company-abt {
        padding: 40px 20px;
    }

    .company-abt p {
        font-size: 16px;
    }

    .company-footer {
        display: block;
        margin-top: 80px;
    }
}

@media (max-width: 768px) {
    .page-menu {
        display: none;
    }

    main {
        padding-top: 40px;
    }

    .map-wrap {
        height: 250px;
    }

    .card-text {
        font-size: 0.8rem;
        line-height: 1.6;
        margin-bottom: 0.5rem;
    }
    .card-text1 {
        font-size: 0.9rem;
         line-height: 1.6;
        margin-bottom: 0.5rem;
    }
}






